name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Temurin JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Build & Unit Tests (JaCoCo report)
        run: mvn -B -DskipTests=false clean verify

      - name: PIT Mutation Testing
        run: mvn -B -DskipTests=false org.pitest:pitest-maven:mutationCoverage

      - name: Upload JaCoCo Report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco/

      - name: Upload PIT Report
        uses: actions/upload-artifact@v4
        with:
          name: pit-report
          path: target/pit-reports/
